---
name: 'Contact Notification Admin'
description: 'A description of what this template does.'
fromName: '{{ craft.app.systemSettings.getSettings("email").fromName }}'
fromEmail: '{{ craft.app.systemSettings.getSettings("email").fromEmail }}'
replyTo: '{{ craft.app.systemSettings.getSettings("email").fromEmail }}'
cc: null
bcc: null
subject: 'Nieuwe inzending van {{ form.name }}'
includeAttachments: true
---
<p>Contactform on {{ dateCreated|date('l, F j, Y \\a\\t g:ia') }}:</p>

<ul>
    {% for field in form.fields %}
        <li>{{ field.label }}: {{ field.valueAsString }}</li>
    {% endfor %}
</ul>
