{% import "_macros/_tools.twig" as macros %}

<div class="text {{ block.itemBackgroundColor == 'white' ? 'bg-white section' : 'bg-light section-bg' }}">
    <div class="container {{ block.itemTextAlign == 'center' ? 'text-center' : 'text-start' }}">
        <div class="max-w-750 {{ block.itemTextAlign == 'center' ? 'ms-auto me-auto'}} ">
            {% if block.itemTitle and block.itemTitle|length %}
                <h2 class="h2 fw-semi-bold line-height-1">
                    {{ block.itemTitle|nl2br }}
                </h2>
            {% endif %}

            <div class="text-text">
                {{ block.itemText }}
            </div>

            {% if block.itemLink.getLink() %}
                <div class="mt-3">
                    <a href="{{ block.itemLink.getUrl() }}" class="btn btn-black">{{ block.itemLink.getText() }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>